@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "Glyphter";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import "components/main_wrapper";
@import "components/main_container";
@import "components/logo";
@import "components/hamburger";
@import "components/menu";
@import "components/sidebar";
@import "components/topbar";
@import "components/wrapper";
@import "components/calendar";
@import "components/diagrams";
@import "components/address";
@import "components/button";

@media (max-width: 1200px) {
    .main-wrapper {
        width: 100%;
    }
    .main-container {
        padding-top: 5px;
        margin-left: 0;
        padding-left: 1.5%;
        padding-right: 1.5%;
        margin: 0 auto;
    }
    .sidebar {
        position: inherit;
    }
    .menu, .sidebar__title, .sidebar__person {
        display: none;
    }
    .hamburger {
        display: inherit;
    }
    .show {
        display: inherit;
    }
    .topbar {
       display: none;              
    }
    .topbar--hidden {
        display: initial;        
    }
    .topbar__list {
        background-color: #ffffff;
        width: 100%;
        float: left;
        padding: 0;
        margin: 0;
        border: 1px solid #e3e3e3;
        border-right: none;
        border-left: none;
    }
    .topbar__element:last-child {
        border-right: 1px solid #e3e3e3;
    }

}
@media(max-width: 768px) {
    .diagrams__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .address {
        max-width: 420px;
        width: 100%;
    }
    .address__icon, .address__icon-trash {
        display: initial;
    }
    .address__element {
        max-width: 140px;
        width: 100%;
    }
    .address__element-link {
        max-width: 200px;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .calendar__wrapper {
        max-width: 300px;
        width: 100%;
    }
    .calendar__day {
        padding-right: 10px;
    }
    .calendar__data {
        margin: 0 auto;
    }
    .address__list {
        flex-direction: column;
        align-items: left;
    }   
    .address__element {
        line-height: $address-element-media-line-height;
    }
    .address__element-link {
        padding-left: 10px;
        line-height: $address-element-link-media-line-height;        
    }
    .address__link-icon {
        display: inline;
        margin-left: 10px;
        max-width: 60px;         
    }
    .address__icon, .address__icon-trash {
        line-height: 20px;
        display: initial;
    }
}
