/* Colors */
/* Font size */
/* Fonts */
/* Background color */
/* Line height */
/* COMMON BUTTON PROPERITIES */
.btn { border: none; border-radius: 3px; background-color: #f58220; color: #ffffff; display: block; }
