/* Colors */
/* Font size */
/* Fonts */
/* Background color */
/* Line height */
/* THIS IS A CONTAINER WITH WRAPPERS IN WHICH THERE ARE SECTION CALENDAR, DIAGRAMS AND ADDRES */
.main-container { max-width: 1092px; height: auto; background-color: #f5f5f2; margin-left: 188px; padding-top: 60px; padding-right: 1.5%; padding-bottom: 1.5%; padding-left: 1.5%; }
