/* Colors */
/* Font size */
/* Fonts */
/* Background color */
/* Line height */
/* SECTION SIDEBAR  */
.sidebar { width: 188px; height: 100%; background-color: #191919; float: left; position: fixed; }

.sidebar__title { color: #818181; display: inline-block; font-family: "Roboto", Arial, sans-serif; font-size: 14px; font-weight: 500; line-height: 42px; text-transform: uppercase; letter-spacing: -0.28px; margin-top: 28px; margin-left: 20px; margin-bottom: 0; }

.sidebar__person { position: relative; height: 43px; margin: 0; padding: 0; }

.sidebar__image { margin-left: 20px; }

.sidebar__image-online { position: absolute; left: 50px; }

.sidebar__name { color: #56819f; font-family: "Roboto", Arial, sans-serif; font-size: 14px; font-weight: 300; line-height: 42px; float: right; margin-right: 47px; padding: 0; text-decoration: none; }

.sidebar__name:hover { color: #cc8743; }
